<router-outlet>
    <h1 class="text-4xl text-blue-900 mt-10 w-full text-center">Hello Virat</h1>
    <!-- <table class="w-full mt-20 flex justify-center items-center">
        <tr class="flex justify-evenly w-full">
            <td><app-admin></app-admin></td>
            <td><app-user></app-user></td>
            <td><app-single-component-demo></app-single-component-demo></td>
        </tr>
    </table> -->
    <!-- <app-data-binding></app-data-binding> -->
     <!-- <app-ng-if></app-ng-if> -->
     <!-- <app-ng-for></app-ng-for> -->
      <!-- <app-ng-class></app-ng-class> -->
       <app-ng-style></app-ng-style>
</router-outlet>
